@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

html {
  overflow-y: scroll;height: 100%;
}

body {
  padding-top: 60px;
  background: linear-gradient(to top, #C90,#EEE) no-repeat;    
  height: 100%;
  padding-bottom: 40px;
}

section {
  overflow: auto;
}

textarea {
 /* resize: vertical;*/
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

 

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.project-form {
    text-align: center;
}
.form-group{
 border: 10px solid red;
background-color: aqua;    
}

/*projects*/
ul{
    list-style:none;
    padding-left: 0;
}
.projects{
    display: inherit;
    margin-bottom: 40px;
    margin-top: 20px;
    border: 3px solid royalblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #efefef;
}
.name{
    color: white;
    background-color: royalblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 16pt;
    font-weight: bolder;
}
.project-name{
    display: inline-block;
    width: 80%;
}

.tasks{
    border: 1px solid #DDD;
    vertical-align: top;
     
}
.task-1{
    vertical-align: top;
    height: 50px;
    padding: 5px;
    display: inline-block;
    
}
.task-2{
    vertical-align: top;
    height: 50px;
    display: inline-block; 
}
.task-name{
    float: left;
    text-align: center;
    width: 80%;
    border: 1px solid #DDD;
    border-top: none;
}
.task-nav{   
    text-align: center;
    width: auto;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
.down{
    margin-bottom: 10px;
}
.task-form{
    background-color: #DDD;
    padding: 10px;
    border-bottom: 1px solid #DDD; 
}
.task-text-field{
    width: 80%;
    display: inline-block;
}
.task-btn{
    background-color: darkolivegreen;
    color: white;
    width: auto;
    margin-left: 5px;
}
/*
input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}*/

.field_with_errors {
 /* @extend .control-group;*/
 /* @extend .error;*/
}