 <div class="center hero-unit">


   <div class="span8 ">
    <% if @user.projects.count != 0 %>
      
      <ul class="">
        <%= render @projects %>
      </ul>
   
    <% end %>
  </div>


   
     <section>
        <%= render 'shared/project_form' %>
      </section>
 </div>   